.boxWrap {
  background: #00000053;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.name {
  text-align: center;
  color: firebrick;
  margin-top: 20px;
}
.text {
  display: block;
  color: firebrick;
  margin-bottom: 30px;
}
